*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border-style: none;
    font-family:"Noto Sans";
 }
.header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 17px 40px;
}
.donate-now{
    width: 110px;
    height: 30px;
    color: white;
    background-color: #C05326;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 15px;
}
ul li {
    display: inline;
    padding: 10px;
}
body > div.header > div {
    margin-top: 15px;
    font-weight: bold;
    font-size: 18px;
}
.content{
    margin-left: 40px;
    display: flex;
}
.main{
    width: 60vw;
}
.alert{
    height: 50px;
    width: 875px;
    border-left: 4px solid #C05326;
    background-color:  #F7EAE4;
}
.alert p{
    transform: translateY(10px);
    margin-left: 10px
}
 .text-highlight{
    color: #C05326;
    font-weight: bold;
    font-size: 17px;
}
.hero{
    background-image: url("../img/header-bike.jpg");
    height: 40vh;
    margin-top: 20px;
    color: white;
}
.cycle{
    position: relative;
    top: 100px;
    margin-left: 20px;
}
.cycle p{
    margin: 22px 0;
    font-weight: bold;
    }
    .donate-bike{
    width: 160px;
    height: 30px;
    color: white;
    background-color: #C05326;
    font-weight: bold;
    border-radius: 5px;
    }
    .volunteer{
     width: 110px;
    height: 30px;
    color: #C05326 ;
    background-color: white;
    font-weight: bold;
    border-radius: 5px;
    }
    .card-container{
        height: 35vh;
        margin-top: 20px;
        }
        .border:after {
            content: '.';
            display: block;
            height: 1px;
            width: 875px;
            margin: 0px auto;
            border-bottom: 1.5px solid #F9C4AC ;
            margin-top:15px;
          }
          .card{
            display: flex;
            justify-content: space-around;
          }
          .card .article{
            width: 400px;
            height: 200px;
            border: 1px solid  #4E4F50;
            border-radius: 5px;
            padding: 5px;
        }
        .card-content{
            margin: 15px 10px;
        }
        .card-content .article__summary{
            margin: 8px 0;
        }
.card .article .card-content .article__read-more a{
    color: #C05326 ;
    font-weight: bold;
}
.footer{
    margin-top: 30px;
}
.footer__content{
    text-align: center;
}
.footer .footer__content .c1{
    margin-top: 8px;
}
.sidebar{
    margin-left: 30px;
}
.article{
    display: flex;
    margin-top: 40px;
}









